 .backgroundColor{
    width: 100%;
    height: auto;
  }
  
  .profileContainer {
    overflow: hidden; 
    float: left;
  }

  .profileContainer2 {
    position: relative;
    top: -2rem;
  }

  .profileContainer3 {
    position: relative;
    top: -4rem;
  }

  profileContainer3 {
    position: relative;
    top: -4rem;
  }
  
    
  .profileBackground {
    background-color: rgb(195, 232, 247);
    width: 35rem;
  }
  
  .headFont {
    text-align: left;
    color: cornflowerblue;
  }

  .headFontwidth {
    font-size: 10px;
    color: black;
    background-color: lightgrey;
    border-radius: 10%;
  }

  .historyDateColor {
    color: darkgray;
    text-align: right;
  }
  
  .historyCompanyName {
    color:black;
    font-size: 12px;
  }

  .companyWork {
    text-align: left;
    font-size: 10px;
    width: 35rem;
    margin-top: 2rem;
    
  }

  .skillKeyword {
    display: block;  
    margin-top: 5px; 
    background-color: darkslateblue;
    color: white;
    display: inline;
    margin-left: 0.4rem;
  }

  .workDays {
    background-color: aqua;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 11rem;
    top: 2rem;
  }

  .workDays2 {
    background-color: aqua;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 11rem;
    top: 2rem;
  }

  .workDays3 {
    background-color: aqua;
    font-size: 12px;
    float: right;
    position: absolute;
    top: 10rem;
  }

  .ulPosition {
    position: relative;
    top:-2rem;
  }

  .ulPosition2 {
    position: relative;
    top:-4rem;
  }
